@import "tailwindcss";
@tailwind utilities;

@layer components {
    .nav__link {
      @apply relative text-base font-medium w-fit block text-white;
    }
  
    .nav__link::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: #facc15; /* yellow-400 */
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s ease;
      display: block;
    }
  
    .nav__link:hover::after {
      transform: scaleX(1);
    }

    .text-bg{
        background-image: linear-gradient(to right,#8750f7 0%,#ffffff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    select:invalid {
      color: #9ca3af; /* Tailwind gray-400 */
    }
  
    /* Once valid, change color to white */
    select:valid {
      color: white;
    }
  
    /* All dropdown options stay white */
    select option {
      color: white;
    }
  
    /* Hide the placeholder from dropdown */
    option[value=""][disabled] {
      display: none;
    }
  
  }
  
